# .gitignore
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.so
*.log
*.pid
*.patch
*.diff
*.swp
*.bak
*.orig
*.rej
.idea/
*.iml
*.iws
*.ipr
*.ini
*.sqlite
*.sqlite3
*.db
*.dbf
*.dbt
.DS_Store
.vscode/
*.vsix
.env
.venv/
*.egg-info/
dist/
build/
*.sublime-project
*.sublime-workspace
*.suo
*.sln
*.user
*.ncb
*.aps
*.obj
*.exe
*.pdb
*.idb
*.ilk
*.class
